body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/I-AM/astronaut-4106766_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner{
    padding: 100px 0;
}

.about-para{
    text-align: justify;
    text-justify: inter-word;
}

input:focus-within{
    outline: none;
    border-color: #d3535a;
    border-width: 3px;
}

textarea:focus-within{
    outline: none;
    border-color: #d3535a;
    border-width: 3px;
}

button:hover{
    opacity: 70%;
    cursor: pointer;
}